[submodule "src/mica-screenplay-parser"]
	path = src/mica-screenplay-parser
	url = https://github.com/usc-sail/mica-screenplay-parser
[submodule "mica-character-coref"]
	path = mica-character-coref
	url = https://github.com/usc-sail/mica-character-coref.git
[submodule "src/parser"]
	path = src/parser
	url = https://github.com/usc-sail/mica-screenplay-parser
[submodule "src/coreference"]
	path = src/coreference
	url = https://github.com/usc-sail/mica-character-coref
