[submodule "src/parser"]
	path = src/parser
	url = https://github.com/usc-sail/mica-screenplay-parser
[submodule "src/coreference"]
	path = src/coreference
	url = https://github.com/usc-sail/mica-character-coref
